body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: url('op.jpg') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/* Gambar profil */
.profile-pic {
  z-index: 2;
}

.profile-pic img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  padding: 10px;
}

/* Kotak login dengan efek kaca */
.container {
  backdrop-filter: blur(7px);
  background-color: rgba(151, 141, 141, 0.2);
  padding: 40px 30px;
  border-radius: 15px;
  width: 90%;
  max-width: 350px;
  text-align: center;
  margin-top: -40px;
  box-shadow: 0 8px 32px rgba(5, 4, 4, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.container h2 {
  margin-bottom: 20px;
  font-size: 20px;
  color: #ffffff;
}

.input-box {
  width: 90%;
  padding: 13px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #cac9c9;
  font-size: 14px;
}

.login-btn {
  background-color: #007bff;
  color: white;
  border: none;
  width: 100%;
  padding: 12px;
  font-weight: bold;
  border-radius: 8px;
  margin-top: 15px;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #0056b3;
}

.forgot-text {
  margin-top: 20px;
  font-size: 14px;
  color: white;
}

.forgot-text span {
  color: #87CEFA;
  font-weight: bold;
}

/* Responsif HP */
@media (max-width: 400px) {
  .container {
    padding: 30px 20px;
  }

  .input-box {
    font-size: 13px;
    padding: 10px;
  }

  .login-btn {
    padding: 10px;
  }
}
